body {
  background-color: #202830;
  text-align: center;
}

#title {
<<<<<<< Updated upstream
  color: #8d8080;
=======
  color: #ffffff;
>>>>>>> Stashed changes
  font-size: 200%;
  font-style: normal;
  margin: 1px;
  border: 1px;
}

#balls {
  margin-top: 5px;
}

#myCanvas {
  margin-top: -20px;
  border:1px solid black;
}
<<<<<<< Updated upstream
#game, label, p {
  color:#ffffff;
}


div.counter {
    text-align: right;
    align-items: left;
    font-family: sans-serif;
    font-weight:lighter;
    display: inline-block;
    
    margin-top: -125px;
    margin-bottom: 125px;
    margin-left: -50px;
    margin-right: 50px;
    
    padding-left: 0px;
    padding-right: 0px;
    font-size: small;
  }
  div.timer {
    font-family: sans-serif;
    display: grid;
    height:0px;
    place-items:center;
  }
  
  .base-timer {
    position: relative;
    left: .5px;
    width: 100px;
    height: 100px;
    top: 95px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 5px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 5px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .count{
    align-items: center;
  }
=======
#form {
  color:#ffffff;
}
>>>>>>> Stashed changes
