* {
    box-sizing:border-box;
    margin:0;
    padding:0;
  }
  
  html, body {
    height:100%;
    width:100%;
  }
  
  body {
    align-content:space-around;
    background-color:#202830;
    color:#ffffff;
    display:grid;
    justify-content:center;
  }
  
  canvas {
    background-color:#ffffff;
  }
  div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:black;
}
p
{
  text-align: center;
  background-color: darkslategray;
  padding-top: 15px;
  padding-bottom:  15px;
  padding-left: 0px;
  padding-right: 0px;
}